@import "global";

nav {
    background-color: #EC663D;
    padding: 5px 0;
    color: #fff;
    width: 100%;

    .navbar__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;

        .nav__links__wrapper {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                list-style-type: none;

                li {
                    margin: 0 3vw;
                    cursor: pointer;
                }
            }
        }

        .nav__search {
            display: flex;
            align-items: center;
        }
    }
}

.top__left__pattern {
    position: absolute;
    top: 0;
}

.bottom__right__pattern {
    position: absolute;
    right: 0;
    bottom: 0;
}

header {
    background-color: #EC663D;
    min-height: 80vh;
    color: #fff;
    padding: 80px 0;
    position: relative;

    .header__wrapper {
        display: flex;

        .header__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 40%;
            min-height: 20vh;
            .decorative__text {
                font-family: 'Caveat', cursive;
                font-size: 3.125vw;
                color: #000;
                margin-bottom: 15px;
            }
            .header__search {
                position: relative;
                margin-top: 50px;
                min-width: 80%;
    
                input {
                    height: 48px;
                    border-radius: 12px;
                    width: 100%;
                    padding: 0 150px 0 10px;
                    border: none;
                    outline: none;
                }
    
                button {
                    position: absolute;
                    right: 2px;
                    top: 2px;
                    height: 45px;
                }
            }

            .header__social__icons{
                margin-top: 40px;
                display: flex;
                .social__icon{
                    margin-right: 10px;
                }
            }
        }

        .header__image {
            min-width: 60%;
            height: 100%;
            display: flex;
            justify-content: flex-end;

            img {
                z-index: 2;
            }
        }
    }
}

.category__section {
    .category__cards__wrapper {
        display: flex;
        justify-content: space-evenly;
        padding: 0 0 15px 0;
        margin-top: 35px;
        flex-wrap: wrap;

        .category__card {
            background-color: #F7F7F7;
            padding: 30px 29px 25px;
            border-radius: 12px;
            transition: all 0.2s ease;
            margin: 15px 0 0 0;

            .card__image {
                width: 110px;
                height: 110px;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .card__badge {
                    width: 40px;
                    height: 40px;
                    background-color: #AFD3AA;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    border-radius: 50%;
                    position: absolute;
                    top: -1px;
                    right: -6px;
                    color: #fff;
                }
            }

            .card__content {
                margin-top: 17px;
            }

            &:hover {
                box-shadow: 10px 20px 40px rgba(97, 49, 0, 0.2);
                cursor: pointer;
                transform: scale(1.01);
                background-color: #F49B3F;
                color: #fff;

                h5 {
                    color: #FFFFFF7E;
                }

                .card__badge {
                    background-color: #5EAE53;
                }
            }
        }
    }
}

.sample__food__section {
    .sample__food__cards__wrapper {
        display: flex;
        justify-content: space-evenly;
        padding: 0 0 15px 0;
        margin-top: 35px;
        flex-wrap: wrap;

        .sample__food__card {
            background-color: #F7F7F7;
            border-radius: 12px;
            transition: all 0.2s ease;
            min-width: 250px;
            text-align: left;
            border-radius: 12px;
            margin: 30px 0 0 0;

            .card__image {
                width: 100%;
                position: relative;
                border-radius: 12px 12px 0 0;
                img {
                    background-size: cover;
                }
            }

            .card__content {
                padding: 24px;
                .card__bottom__content {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span+span {
                        color: #33333380;
                    }
                }
            }
        }
    }
}

.location__details__section {
    padding-bottom: 80px;
}

.location__details__wrapper {
    display: flex;
    justify-content: space-between;

    .location__details__image {
        min-width: 45%;
    }

    .location__details__content {
        min-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            color: #33333380;
        }

        .find__location__wrapper {
            margin-top: 21px;

            input {
                margin: 0 30px 0 0;
                width: 40%;
                height: 44px;
                border-radius: 12px;
                padding: 0 10px;
                border: 1px solid #DADADA;
                outline: none;
            }
        }
    }
}

.menu__wrapper {
    .menu__wrapper__subheading {
        color: #33333380;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        p+p {
            color: #333333;
        }
    }

    .menu__cards__wrapper {
        display: grid;
        grid-template: repeat(3, minmax(200px, 1fr)) / repeat(2, minmax(100px, 1fr));
        row-gap: 20px;
        column-gap: 20px;
        margin-top: 40px;

        .menu__card {
            background-color: #F7F7F7;
            border-radius: 12px;
            display: flex;

            .menu__card__image {
                display: flex;
                align-items: center;
                position: relative;
            }

            .menu__card__content {
                flex-grow: 1;
                padding: 30px;
                .text__big {
                    margin-bottom: 15px;
                    display: inline-block;
                }
                & > p {
                    color: #33333380;
                }

                .dish__price {
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-between;
                    p + p {
                        color: #33333380;
                    }
                }
            }
        }
    }
}

.question__section {
    background-color: #EC663D;
    color: #fff;

    .question___wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .question__wrapper_content {
            min-width: 40%;
            padding-bottom: 80px;
        }

        .question__wrapper__image {
            min-width: 50%;
            display: flex;
            justify-content: flex-end;
        }
    }
}


.footer__section {
    background-color: #333333;
    color: #fff;

    .footer__wrapper {
        padding: 60px 0;

        .footer__details {
            border-bottom: 1px solid #FFFFFF;
            padding-bottom: 80px;
            display: flex;
            justify-content: space-between;

            .footer__logo {
                min-width: 30vw;

                h3 {
                    margin-bottom: 20px;
                }
            }

            .footer__links__wrapper {
                min-width: 30vw;

                display: flex;
                justify-content: space-around;

                .footer__links {
                    ul {
                        list-style-type: none;
                        margin-top: 20px;
                    }
                }

            }

            .footer__subscribe {
                min-width: 20vw;

                .footer__subscribe__input {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    position: relative;

                    input {
                        height: 48px;
                        border-radius: 12px;
                        min-width: 100%;
                        padding: 0 50px 0 10px;
                        border: none;
                        outline: none;

                    }

                    img {
                        position: absolute;
                        right: 10px;
                    }
                }

            }
        }

        .footer__bottom {
            padding-top: 40px;
            display: flex;
            justify-content: flex-end;

            p {
                margin: 0 0 0 35px;
            }

            p+p+p {
                color: #FFFFFF80;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .nav__links__wrapper,
    .nav__search {
        display: none !important;
    }

    .header__wrapper {
        flex-direction: column-reverse;

        .header__image {
            margin-bottom: 50px;
        }
    }


    .location__details__wrapper {
        flex-direction: column;

        .custom__badge {
            margin-top: 2rem;
        }
    }

    .menu__card{
        flex-direction: column;
        .menu__card__content{
            flex-grow: 0 !important;
            padding: 10px !important;
        }
    }

    .question___wrapper {
        flex-direction: column;
    }

    .footer__wrapper {
        .footer__details {
            flex-direction: column;

            .footer__logo {
                width: initial;
            }

            .footer__links__wrapper {
                margin: 25px 0;
                flex-direction: column;
            }

            .footer__subscribe {
                width: initial;
            }
        }
    }
}